<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Latest</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>
    <span id="load_date" th:text="${time}">
        22/22/22
    </span>

    <p id="views_restriction" th:if="${hasViewRestriction}">
         <u th:text="${viewRestriction}"> 123 </u> more views allowed
    </p>


    <span id="time_restriction" th:if="${hasTimeRestriction}">
       <br>
        The code will be available for <u th:text="${timeRestriction}"> 123 </u> seconds
    </span>

    <pre >
       <code id="code_snippet" th:text="${code}">

       </code>
    </pre>

</body>
</html>