<!DOCTYPE html>
<html
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>

<body>
    <form th:action="@{/code/new}" th:object="${codeSnippet}" method="POST">
        <textarea id="code_snippet" rows="5" cols="39" th:field="*{code}" placeholder="// Write your code here ..."></textarea>
        <pre>Time restriction:  <input id="time_restriction" name="time" type="text" th:field="*{time}" /></pre>
        <pre>Views restriction: <input id="views_restriction" name="views" type="text" th:field="*{views}" /></pre>
        <br><button id="send_snippet" type="submit" th:onclick="send()">Submit</button></br>
    </form>
</body>

</html>